<!-- brands.html-->

{% extends "base.html" %}
{% block title %}Brands{% endblock %}
{% block body %}
<div class="container">
  <h1>The Brands Page</h1>
  <p class="lead">You can learn more here.</p>
</div>
<figure class="figure">
  <img src="https://cdn.pixabay.com/photo/2021/05/03/15/36/flower-6226572_960_720.jpg" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">This image is a flower.</figcaption>
</figure>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<figure class="figure">
  <img src="..." class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>

{% endblock %}